<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvido contraseña</title>
</head>
<body>

    <h1>Has olvidado tu contraseña?</h1>

    <h2>Ingresa el mail asociado a tu usuario</h2>
    
    <div>
        <form action="submit">
            <label for="email"></label>
            <input type="email" name="email" id="email" required/>

            <button>
                Restablecer contraseña
            </button>
        </form>
    </div>
</body>
</html>